@page "/Cards/TotalResult/{cardId:long}"

<MudBreadcrumbs Items="breadcrumbs" Class="px-0"></MudBreadcrumbs>

<PageTitle>Total Result</PageTitle>
<h1>Total Result</h1>

@if (errorMessage is not null)
{
    <MudText Color="Color.Error" Typo="Typo.h3">@errorMessage</MudText>
    return;
}

@if (totalResultData is null)
{
    <MudStack>
        <MudSkeleton Width="100%"/>
        <MudSkeleton Width="100%"/>
        <MudSkeleton Width="100%"/>
        <MudSkeleton Width="100%"/>
        <MudSkeleton Width="100%"/>
        <MudSkeleton Width="100%"/>
    </MudStack>
    return;
}

@if (totalResultData.PlayerData.PlayedSongCount == 0)
{
    <MudText Typo="Typo.h3">
        No Play Record
    </MudText>
    return;
}

<MudList>
    <MudListSubheader>Player Name: @totalResultData.PlayerName</MudListSubheader>
    <MudListItem>Total Score: @totalResultData.PlayerData.TotalScore</MudListItem>
    <MudListItem>Rank: @totalResultData.PlayerData.Rank</MudListItem>
    <MudListItem>Average Score: @totalResultData.PlayerData.AverageScore</MudListItem>
    <MudListItem>Played Song Count: @totalResultData.PlayerData.PlayedSongCount / @totalResultData.PlayerData.TotalSongCount</MudListItem>
    <MudListItem>Cleared Stage Count: @totalResultData.StageCountData.Cleared / @totalResultData.StageCountData.Total</MudListItem>
    <MudListItem>No Miss Stage Count: @totalResultData.StageCountData.NoMiss / @totalResultData.StageCountData.Total</MudListItem>
    <MudListItem>Full Chain Stage Count: @totalResultData.StageCountData.FullChain / @totalResultData.StageCountData.Total</MudListItem>
    <MudListItem>Perfect Stage Count: @totalResultData.StageCountData.Perfect / @totalResultData.StageCountData.Total</MudListItem>
    <MudListItem>S and Above Stage Count: @totalResultData.StageCountData.S / @totalResultData.StageCountData.Total</MudListItem>
    <MudListItem>S+ and Above Stage Count: @totalResultData.StageCountData.Ss / @totalResultData.StageCountData.Total</MudListItem>
    <MudListItem>S++ and Above Stage Count: @totalResultData.StageCountData.Sss / @totalResultData.StageCountData.Total</MudListItem>
</MudList>